body{
    background-color: rgb(255, 252, 254);
    color: black;

}

h1{
    /* color: brown;
    font-size: 56px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}


h2{
    font-size: 30px;
}

